.task-card {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;  /* Adiciona espaçamento entre os cartões */
  width: 250px;
  /* position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.task-card h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.task-card p {
  margin: 8px 0;
  font-size: 1rem;
}

.task-card button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 12px;
}

.task-card button:hover {
  background-color: #c9302c;
}
